<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Socialist</title>
   
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="controllers/usercontroller.js"></script>
  <script src="services/userservice.js"></script>
  <script src="controllers/blogcontroller.js"></script>
  <script src="controllers/blogdetailcontroller.js"></script>
  <script src="controllers/jobcontroller.js"></script>
  <script src="controllers/friendcontroller.js"></script>
 
  <script src="services/blogservice.js"></script>
  <script src="services/jobservice.js"></script>
	<script type="text/javascript" src=services/friendservice.js></script>  
  <link rel="stylesheet" href="css/blogdetail.css">

  <meta charset="utf-8">
   <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"	rel="stylesheet" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>

</head>

<body ng-app="app">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#!/home">Home</a></li>
      <li><a href="#!/register" ng-show="currentUser.firstName==undefined">Signup</a></li>
      <li><a href="#!/login"  ng-show="currentUser.firstName==undefined">Login</a></li>    
	  <li><a href="#!/createBlog" ng-hide="currentUser.role=='ADMIN'">Add Blog</a></li>
      <li><a href="#!/getAllBlogs" ng-show="currentUser.role=='ADMIN'">Get blogs</a></li>
      <li><a href="#" ng-hide="currentUser.firstName==undefined"> Welcome {{currentUser.firstName}}</a></li>
      <li><a href="#!/editProfile" ng-hide="currentUser.firstName==undefined">Edit Profile</a></li>
      <li><a href="#!/logout" ng-hide="currentUser.firstName==undefined" ng-click="logout()">Logout</a> </li>
      <li><a href="#!/uploadProfilePic" ng-hide="currentUser.firstName==undefined"><img src="http://localhost:8087/SocialistM/getImage/{{currentUser.firstName}}" style="height:40px;width:40px" class="img-rounded"></a></li>
      <li><a href="#!/addJob" ng-show="currentUser.role=='ADMIN'">Add Job</a></li>
      <li><a href="#!/getAllJobs" ng-hide="currentUser.firstName==undefined">Get All Jobs</a></li>
      <li><a href="#!/pendingRequests" ng-hide="currentUser.firstName==undefined">Friend Requests</a></li>
      <li><a href="#!/getSuggestedUsers" ng-hide="currentUser.firstName==undefined">ADD</a></li>
      <li><a href="#!/listOfFriends" ng-hide="currentUser.firstName==undefined" ng-click="listOfFriends()">List OF Friends</a></li>
       
      
    </ul>
  </div>
</nav>
  

<div ng-view></div>
</body>
</html>



