


<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img ng-src="http://localhost:8087/SocialistF/resources/img/{{blog.postedBy.firstName}}"  onerror="this.src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-128.png';" class="img-circle avatar" >
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>{{blog.postedBy.firstName}}</b></a>
                            made a post.
                        </div>
                        <h6 class="text-muted time">{{blog.createDate|date : hh:mm}}</h6>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p>{{blog.blogContent}}</p>
                    <div class="stats">
                       <a href="" type="button"
							class="w3-btn w3-theme-d1 w3-margin-bottom"
							data-ng-click="upvoteBlog(blog.blogID)"> <i
							class="fa fa-thumbs-up"> {{blog.likes}}</i> Like
						</a> <a href="" type="button"
							class="w3-btn w3-theme-d1 w3-margin-bottom"
							data-ng-click="downvoteBlog(blog.blogID)"> <i
							class="fa fa-thumbs-down"> {{blog.dislikes}}</i> Dislike
						</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
      
        <div class="container">
<form class="form-group">
<div>
<textarea rows="5" cols="20" ng-model="blogComment.blogCommentText" class="form-control"></textarea>
</div>
<input type="submit" value="Post" ng-click="addComment()" class="btn btn-success">
    </form>    
</div>
    
<div class="container">
	<div class="row">

    <div class="comments-container">

		<ul id="comments-list" class="comments-list">
			<li>
				<div class="comment-main-level" ng-repeat="blogs in blogComments" ng-init="getBlogComments()" >
					<!-- Avatar -->
					<div class="comment-avatar"><img ng-src="http://localhost:8087/SocialistF/resources/img/{{blogs.postedBy.firstName}}"  onerror="this.src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-128.png';"></div>
					<div class="comment-box" >
						<div class="comment-head">
							<h6 class="comment-name"><a>{{blogs.postedBy.firstName}}</a></h6>
							<span>{{blogs.blogCommentDate|date:'dd.MM.y hh:mm'}}</span>
					
						</div>
						<div class="comment-content">
						{{blogs.blogCommentText}}
						</div>
					</div>
				</div>
				</li>
				</ul>
				</div>
				</div>
